@tailwind base;
@tailwind components;
@tailwind utilities;

.neon {
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 12rem;

  align-items: center;
  border-radius: 12px;
  border: 4px solid currentColor;
  box-shadow: 
  /* --- "glass" tube --- */
  /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
    /* outside */ 0 0 0 2px rgba(0, 0, 0, 0.15), /* --- glow --- */ /* inside */ inset 0 0 var(--box-blur) var(--glow),
    /* outside */ 0 0 var(--box-blur) var(--glow);
  color: var(--color, white);
  display: inline-flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  height: var(--size);
  justify-content: space-around;
  padding: 1rem;
  width: var(--size);
}

.neon .w {
  --color: #c4c4c6;
  filter: brightness(80%);
}
.neon .w :hover {
  --color: #c4c4c6;
  filter: brightness(105%);
}

.noise_background {
  position: fixed;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("../../public/bgs/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-noise-animation 0.2s infinite;
  opacity: 0.9;
  z-index: 0;
  visibility: visible;
}

@keyframes bg-noise-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}